.wp-block-media-text {
  //@media (max-width: 600px) {
    gap: var(--wp--preset--spacing--l);
  //}

  .wp-block-media-text__content {
    padding: 0;
  }
  &.about-media-text-self-project {
    @media (max-width: 600px) {
      padding: var(--wp--preset--spacing--s);
      .wp-block-media-text__content {
        background-color: var(--wp--preset--color--contrast);
        padding: var(--wp--preset--spacing--s);
      }
    }
    .wp-block-media-text__media {
      border: 2px solid var( --wp--preset--color--contrast );
    }
  }
}