*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a,
a:focus,
a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 0;
}

label {
  font-size: var(--wp--preset--font-size--small);
  font-weight: 700;
}

.wp-site-blocks > footer.wp-block-template-part {
  margin-block-start: 0 !important;
}

@media (max-width: 600px) {
  .pattern-my-contribution {
    padding-top: var(--wp--preset--spacing--s);
  }
}

.u-reverse-2-columns {
  flex-direction: column-reverse;
}
@media (min-width: 781px) {
  .u-reverse-2-columns {
    flex-direction: row;
  }
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wp-block-post-content.block-editor-block-list__layout {
  padding-bottom: 100px !important;
}
.wp-block-post-content.block-editor-block-list__layout *:not(.wp-block-code) > code {
  display: inline-block;
  background-color: var(--wp--preset--color--base);
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--system-monospace);
  margin-left: calc(var(--wp--preset--spacing--xs) * 0.25);
  margin-right: calc(var(--wp--preset--spacing--xs) * 0.25);
  padding: 0 calc(var(--wp--preset--spacing--xs) * 0.5);
}

.snow-monkey-form .smf-form .smf-item .smf-text-control__control,
.snow-monkey-form .smf-form .smf-item .smf-textarea-control__control {
  border: 2px solid var(--wp--preset--color--lighter-gray);
  border-radius: 0;
  font-size: var(--wp--preset--font-size--m);
  padding: 5px 10px;
}
.snow-monkey-form .smf-action .smf-button-control__control {
  background-color: var(--wp--preset--color--primary);
  background-image: none;
  border-radius: 0;
  border: none;
  font-size: 16px;
  color: var(--wp--preset--color--contrast);
  padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--xl);
}
