.site-contents * > code {
  display: inline-block;
  background-color: var(--wp--preset--color--base);
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--system-monospace);
  margin-left: calc(var(--wp--preset--spacing--xs) * 0.5);
  margin-right: calc(var(--wp--preset--spacing--xs) * 0.5);
  padding: 0 var(--wp--preset--spacing--xs);
}
