.wp-block-quote {
  border-left: 5px solid var(--wp--preset--color--wild-sand);
  padding: var(--wp--preset--spacing--m);
  margin-top: var(--wp--preset--spacing--m);
  margin-bottom: var(--wp--preset--spacing--m);
}
.wp-block-quote > *:first-child {
  margin-top: 0;
}
